<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>La Opinión ADS</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

  {{{ body }}}
  
  <!-- scripts -->
  {{!-- <script src="/js/home.js"></script> --}}
</body>
</html>
